---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import "../styles/global.css";
---

<MainLayout title="3rd semester">
  <div class="background_container">
    <div class="background"></div>
    <!-- Separate background div for blur -->
    <h1 class="text-8xl text-main tracking-widest relative z-10 pb-4">3RD SEMESTER</h1>
    <h2 class="portfolio-title text-4xl text-main tracking-widest relative z-10 text-center">
      Hover over the images <br /> & click them to learn more
    </h2>
  </div>

  <!-- Two-column grid layout -->
  <div class="grid grid-cols-2 items-center gap-8 m-10"></div>

  <style>
    #img1 {
      mask-image: linear-gradient(rgba(27, 22, 22, 20), transparent);
      -webkit-mask-image: linear-gradient(rgba(27, 22, 22, 20));
    }

    .background {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      filter: blur(5px) brightness(0.8); /* Applies blur to the background */
      mask-image: linear-gradient(rgba(27, 22, 22, 100), transparent);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
    }
  </style>
</MainLayout>
