---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import "../styles/global.css";
---

<MainLayout title="Frontpage">
  <div class="background_container">
    <div class="background"></div>
    <!-- Separate background div for blur -->
    <h1 class="text-8xl text-main tracking-widest relative z-10 pb-4">HEY THERE!</h1>
    <h2 class="portfolio-title text-4xl text-main tracking-widest relative z-10">Welcome to my portfolio</h2>
  </div>

  <!-- Two-column grid layout -->
  <div class="grid grid-cols-2 items-center gap-8 m-10">
    <div>
      <!-- Text content section -->
      <h2 class="text-2xl text-main pb-4">Step right in!</h2>
      <p class="text-lg text-main leading-10 pb-12">
        My name is Sara Ringkow Petersen, and I’m currently studying to become a multimedia-designer. If you want, go take a look around, read a bit
        about who I am, or go look at my projects by clicking <em>My projects</em> either in the top menu or on the button below!
      </p>

      <!-- Button section -->
      <Button buttonText="My projects" />
    </div>
    <!-- Image section -->
    <div class="relative flex justify-center">
      <img id="img1" src="/images/pfp3.webp" alt="portrait1" class="w-[400px] rounded-full shadow-lg pt-4" />
    </div>
  </div>
  <div class="pb-32"></div>
  <style>
    .background {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      filter: blur(5px) brightness(0.8); /* Applies blur to the background */
      mask-image: linear-gradient(rgba(27, 22, 22, 100), transparent);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
    }
  </style>
</MainLayout>
