---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import "../styles/global.css";
---

<MainLayout title="Frontpage">
  <div class="background_container">
    <div class="background"></div>
    <!-- Separate background div for blur -->
    <h1 class="text-8xl text-main tracking-widest relative z-10 pb-4">HEY THERE!</h1>
    <h2 class="portfolio-title text-4xl text-main tracking-widest relative z-10">Welcome to my portfolio</h2>
  </div>

  <!-- Two-column grid layout -->
  <div class="grid grid-cols-2 items-center gap-8 m-10">
    <div>
      <!-- Text content section -->
      <h2 class="text-3xl text-main pb-4">Step right in!</h2>
      <p class="text-xl text-main leading-10">
        My name is Sara Ringkow Petersen, and I’m currently studying to become a multimedia-designer. If you want, go take a look around, read a bit
        about who I am, or go look at my projects by clicking <em>My projects</em> in the top menu!
      </p>
    </div>
    <!-- Image section -->
    <div class="relative flex justify-center">
      <img id="img1" src="/illustrations/illustration1.svg" alt="illustration" class="w-[250px] pt-4" />
    </div>
  </div>

  <style>
    #img1 {
      mask-image: linear-gradient(rgba(27, 22, 22, 20), transparent);
      -webkit-mask-image: linear-gradient(rgba(27, 22, 22, 20));
    }

    .background {
      background-image: url(/images/factory2.webp);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      filter: blur(5px) brightness(0.8); /* Applies blur to the background */
      mask-image: linear-gradient(rgba(27, 22, 22, 100), transparent);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
    }
  </style>
</MainLayout>
