---

---

<footer>
  <div class="footer-nav flex flex-col md:flex-row justify-between items-center bg-transparent p-4 text-white">
    <div class="footer-logo">
      <a href="/"><img src="/logo.svg" alt="logo" class="w-28 md:w-24" /></a>
    </div>
    <div class="column1">
      <ul class="footer-nav-list">
        <li><a class="text-xl" href="/about_me">About me</a></li>
        <li><a class="text-xl" href="/projects">My projects</a></li>
        <li><a class="text-xl" href="/contact">Contact</a></li>
      </ul>
    </div>
    <!-- Social Icons placed here -->
    <div class="some">
      <div class="footer-social-p">
        <p class="text-2xl font-bold">Find me on:</p>
      </div>
      <a href="https://www.facebook.com/profile.php?id=61558070190613" aria-label="Facebook" target="_blank" class="hover:opacity-50">
        <img src="/illustrations/facebook.svg" alt="facebook" />
      </a>
      <a href="https://www.instagram.com/srp_portfolio/" aria-label="Instagram" target="_blank" class="hover:opacity-50">
        <img src="/illustrations/instagram.svg" alt="instagram" />
      </a>
      <a href="https://www.linkedin.com/in/sara-ringkow-petersen-49830b264/" aria-label="LinkedIn" target="_blank" class="hover:opacity-50">
        <img src="/illustrations/linkedin.svg" alt="linkedin" />
      </a>
    </div>
    <div class="footer-social">
      <div class="footer-social-contact">
        <p class="text-2xl font-bold pb-2">Contact me:</p>
        <div class="flex flex-col space-y-2">
          <a href="tel:+4542428807" class="hover:text-gray-400 hover:underline text-xl transition duration-300">+45 42 42 88 07</a>
          <a href="mailto:sara.ringkow@gmail.com" class="hover:text-gray-400 hover:underline text-xl transition duration-300"
            >sara.ringkow@gmail.com</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center text-main p-4 opacity-40">
    <p class="text-main font-medium">&copy; 2024 Sara Ringkow Petersen – SRP Portfolio. All rights reserved.</p>
  </div>
</footer>
