---

---

<div class="bg-zinc-600 p-8 rounded-lg shadow-md w-full max-w-sm">
  <form action="#" netlify>
    <div class="mb-8">
      <input
        type="email"
        id="email"
        class="block p-2.5 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 bg-zinc-200"
        placeholder="Email.."
      />
      <label class="absolute text-sm text-zinc-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-zinc-300 px-2"></label>
    </div>
    <div class="mb-8">
      <input
        type="text"
        id="name"
        class="block p-2.5 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 bg-zinc-200"
        placeholder="Name.."
      />
      <label
        class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2"
      ></label>
    </div>
    <div class="mb-8">
      <textarea
        id="message"
        rows="8"
        class="block p-2 w-full text-sm text-zinc-400 bg-zinc-200 rounded-lg border border-zinc-200"
        placeholder="Write message..."></textarea>
    </div>
    <div class="flex justify-center w-full">
      <button
        type="submit"
        class="w-1/2 max-w-xs border-2 border-zinc-200 bg-transparent text-zinc-200 py-2 rounded-lg shadow-lg hover:bg-[#FF3333] hover:border-[#FF3333] transition duration-300"
        >SEND</button
      >
    </div>
  </form>
</div>
