---

---

<div class="bg-secondary text-main p-8 rounded-lg shadow-md w-full max-w-sm">
  <form>
    <div class="mb-8">
      <input type="text" placeholder="Name" class="w-full bg-accent p-2 rounded focus:outline-none focus:ring-2 focus:ring-gray-500" required />
    </div>
    <div class="mb-8">
      <input type="email" placeholder="Email" class="w-full bg-accent p-2 rounded focus:outline-none focus:ring-2 focus:ring-gray-500" required />
    </div>
    <div class="mb-8">
      <textarea placeholder="Message" class="w-full bg-accent p-2 rounded focus:outline-none focus:ring-2 focus:ring-gray-500" rows="8" required
      ></textarea>
    </div>
    <div class="flex justify-center w-full">
      <button
        type="submit"
        class="w-1/2 max-w-xs bg-tertiary py-2 rounded-lg shadow-lg hover:bg-hover focus:outline-none focus:ring-2 focus:ring-gray-600 border-gradient-secondary transition duration-300"
        >SEND</button
      >
    </div>
  </form>
</div>
